/* add your CSS here */
html{
  font-family: Arial, sans-serif, Helvetica;
}
#card{
  border: 1px solid;
  box-shadow: 5px 5px;
  padding: 10px;
  width: 300px;
}
#facts{
  border: 1px solid;
  padding: 10px;
  margin: 0px;
}
.picture {
  width: 300px;
}
.label {
  font-weight: bold;
}
.fact{
    font-style: italic;
}
.list{
  list-style: none;
  padding: 0px;
}
.heading{
  font-weight: bold;
  margin: 0px;
}
