/* add your CSS here */
#card{
  border: 1px solid;
  box-shadow: 5px 5px;
}
.picture {
  width: 300px;
}
.label {
  font-weight: bold;
}
.fact{
    font-style: italic;
}
.list{
  list-style: none;
}
